@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hovercolor: #f3f4f6;
  --navheight: 70px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --height-navbar: var(--navheight);
  --height-maincontent: calc(100vh - var(--navheight));
  --color-hovercolor: var(--hovercolor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hovercolor: #1e2939;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
